body{
    font-family: 'Poppins', sans-serif;

}
h1{
    text-align: center;
    font-size: 50px;
}
h3{
    font-size: 30px;
}


.flexible-container{
    display: flex;
    position: relative;
    margin: 100px 200px;
    
}

.text-area {
    padding: 10px;
    position: absolute;
    text-align: center;
    bottom: 200px;
    right: 200px;
    left: 100px;
    color: orange;
    
  }
  .color{
    font-size: 20px;
    color: cyan;

  }
  .link-button{
    text-decoration: none;
    background-image: linear-gradient(red , tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700px;
    border-radius: 5px;

  }
  .name-area{
    font-size: 60px;
    text-align: center;
  }
 .area{
    font-size: 20px;
    text-align: center;
 }


  .experience-item{
    text-align: center;
    
    width: 40%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 5px 10px red;
    border-radius: 10px;
   
  }

  .donate-area{
    background-origin: border-box;

    background-repeat: no-repeat;
    background-position: left;
 
  }
 
  .no-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px ;
    box-shadow: 10px 10px 40px red;
    border-radius: 10px;
   
  }
 
 
 #Flood-family{
    border-left: 7px solid tomato;
  
    
 }
 
 
 
 #Shelter-family{
    border-left: 7px solid blue;
 }

 #Education-children{
    border-left: 7px solid green;
 }


 .half-width{
    width: 70%;
    padding-left: 5%;
 }
  .half-width img{
     width: 70%;
  }



  #footer {
    text-align: center;
    background-color: gray;
    padding: 50px;
  }
  
  #footer p {
    margin: 0;
  }
  
  #footer a {
    margin: 0 10px;
    color: black;
  }